body {
    margin: auto;
    font-family: "Inter";
    max-width: 1200px;
    
}

main {
    margin: auto;
    max-width: 1000px;
    align-content: center;
    padding-top: 70px;
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(50, 50px);
}

h1 {
    font-weight: 650;
    font-size: 53;
   
}
@font-face {
    font-family: "Inter";
    src: url(Inter.ttf);
}

.topnav {
    display: flex;
    border-bottom: 1px solid rgb(212, 205, 205);
    max-width: 1200px;
    font-size: 13px;
    margin-left: 10px;
    
    background-color: white;
    position: fixed;
    top: 0;
    align-self: center;
    
    

}

.bark {
    height: 10px;
    width: 60px;
    padding-top: 20px;
    padding-left: 1px;
}

.list {
    padding-top: 6px;
}

.right {
    padding-left: 340px;
    padding-top: 6px;
   
}

.box {
    margin: 10px;
    align-content: center;
    padding-left: 10px;
    padding-right: 10px;
    height: 30px;
    color: white;
    border-radius: 5px;
    background-color: black;
}

.list:hover {
    background-color: rgb(224, 224, 224);
  
}

ul {
    list-style-type: none;
    display: flex;
    gap: 15px;
}

.barkz {
    grid-column: 2 / 8;
    grid-row: 2 / 4;
    align-self: start;
}

.library {
    grid-column: 10 / 15;
    grid-row: 2 / 5;
   padding-top: 60px;
    align-self: center;
}

.free {
    color: rgb(255, 255, 255);
    background-color: black;
    border-radius: 2px;
    text-align: center;
    width: 110px;
    height: 20px;
    font-size: 13px;
    box-sizing: border-box;
    margin-top: 10px;
}

.brands {
    grid-column: 2 / 15;
    grid-row: 7 / 8;
    border-top: 1px solid rgb(206, 201, 201);
    border-bottom: 1px solid rgb(206, 201, 201);
    align-self: center;
    padding: 10px; 
}

.image1 {
    width: 60px;
    height: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.fetch {
    grid-column: 2 / 8;
    grid-row: 9 / 12;

}

h2 {
    font-weight: 650;
}

h3 {
    font-weight: 320;
    font-size: 18px;
    color: black;
    margin: 0%;
}

p {
    font-weight: 320;
    font-size: 12;
    margin: 0%;    
}

.Barkies {
    grid-column: 2 / 15;
    grid-row: 13 / 23;
    box-shadow: 0 4px 20px 10px rgba(147, 145, 145, 0.2);
    height: 600px;
    width: 900px;
}

.quoteone {
    grid-column: 2 / 15;
    grid-row: 25 / 28;
    font-size: 36px;
    font-weight: 650;
    color: grey;
    text-align: center;
    margin-top: 10px;
}

.faceone {
    grid-column: 7 / 8;
    grid-row: 28 / 29;
    height: 50px;
    
}

.nameone {
    grid-column: 8 / 11;
    grid-row: 28 / 29;
    color: rgb(135, 134, 134);
    font-size: 12px;
    padding-top: 10px;
    
   
    
}
