body {
    margin: auto;
    font-family: "Inter";
    max-width: 1200px;
}

main {
    margin: auto;
    max-width: 1000px;
    align-content: center;
    padding-top: 70px;
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(150, 50px);
}

h1 {
    font-weight: 650;
    font-size: 53;
}
@font-face {
    font-family: "Inter";
    src: url(Inter.ttf);
}

.topnav {
    display: flex;
    border-bottom: 1px solid rgb(212, 205, 205);
    max-width: 1200px;
    font-size: 13px;
    margin-left: 10px;
    background-color: white;
    position: fixed;
    top: 0;
    align-self: center;
    height: 60px;
    width: 1200px;
}

.bark {
    height: 10px;
    width: 60px;
    padding-top: 30px;
    padding-left: 1px;
}

.list {
    padding-top: 6px;
}

.right {
    padding-left: 340px;
    padding-top: 6px;
}

.box {
    margin-top: 20px;
    margin-left: 20px;
    align-content: center;
    padding-left: 10px;
    padding-right: 10px;
    height: 30px;
    color: white;
    border-radius: 5px;
    background-color: black;
}



li:hover {
    background-color: rgb(243, 243, 243);
    height: 10px;
    border-radius: 10px;
    
}

ul {
    list-style-type: none;
    display: flex;
    gap: 15px;
}

.barkz {
    grid-column: 2 / 8;
    grid-row: 2 / 4;
    align-self: start;
}

.library {
    grid-column: 10 / 15;
    grid-row: 2 / 5;
   padding-top: 60px;
    align-self: center;
}

.free {
    margin: 10px;
    margin-left: 0px;
    align-content: center;
    padding-left: 4px;
    padding-right: 4px;
    height: 30px;
    width: 100px;
    color: white;
    border-radius: 3px;
    background-color: black;
    font-size: 13px;
    text-align: center;
}

.brands {
    grid-column: 2 / 15;
    grid-row: 7 / 8;
    border-top: 1px solid rgb(206, 201, 201);
    border-bottom: 1px solid rgb(206, 201, 201);
    align-self: center;
    padding: 10px; 
}

.image1 {
    width: 60px;
    height: auto;
    padding-left: 10px;
    padding-right: 10px;
}

h2 {
    font-weight: 650;
}

h3 {
    font-weight: 320;
    font-size: 18px;
    color: black;
    margin: 0%;
}

p {
    font-weight: 320;
    font-size: 12;
    margin: 0%;    
}
.fetch {
    grid-column: 2 / 8;
    grid-row: 9 / 12;
}

.Barkies {
    grid-column: 2 / 15;
    grid-row: 13 / 25;
    box-shadow: 0 4px 20px 10px rgba(147, 145, 145, 0.2);
    height: 600px;
    width: 900px;
}

.quoteone {
    grid-column: 2 / 15;
    grid-row: 25 / 28;
    font-size: 36px;
    font-weight: 650;
    color: grey;
    text-align: center;
    margin-top: 10px;
}

.faceone {
    grid-column: 7 / 8;
    grid-row: 28 / 29;
    height: 50px;
}

.nameone {
    grid-column: 8 / 11;
    grid-row: 28 / 29;
    color: rgb(135, 134, 134);
    font-size: 12px;
    padding-top: 10px;
}

.kennel {
    grid-column: 2 / 9;
    grid-row: 30 / 33;
}

.world {
    grid-column: 2 / 15;
    grid-row: 33 / 45;
    box-shadow: 0 4px 20px 10px rgba(147, 145, 145, 0.2);
}

.quotetwo {
    grid-column: 2 / 15;
    grid-row: 45 / 48;
    font-size: 36px;
    font-weight: 650;
    color: grey;
    text-align: center;
    margin-top: 10px;
}

.facetwo {
    grid-column: 7 / 8;
    grid-row: 48 / 49;
    height: 50px;
}

.nametwo {
    grid-column: 8 / 12;
    grid-row: 48 / 49;
    color: rgb(135, 134, 134);
    font-size: 12px;
    padding-top: 10px;
}

.docs {
    grid-column: 2 / 9;
    grid-row: 50 / 53;
}

.wiki {
    grid-column: 2 / 15;
    grid-row: 53 / 75;
    box-shadow: 0 4px 20px 10px rgba(147, 145, 145, 0.2);
    height: 600px;
}

.quotethree {
    grid-column: 2 / 15;
    grid-row: 65 / 68;
    font-size: 36px;
    font-weight: 650;
    color: grey;
    text-align: center;
    margin-top: 10px;
}

.facethree {
    grid-column: 7 / 8;
    grid-row: 68 / 69;
}

.namethree {
    grid-column: 8 / 12;
    grid-row: 68 / 69;
    color: rgb(135, 134, 134);
    font-size: 12px;
    padding-top: 10px;
}

.line {
    grid-column: 2 / 15;
    grid-row: 70;
    border-top: solid rgb(232, 226, 226) 1px;
}

.plan {
    grid-column: 5 / 12;
    grid-row: 71 / 74;
    text-align: center;
}

.button {
    grid-column: 7 / 10;
    grid-row: 74;
    margin: 10px;
    align-content: center;
    justify-self: center;
    padding-left: 1px;
    padding-right: 1px;
    height: 30px;
    width: 100px;
    color: white;
    border-radius: 3px;
    background-color: black;
    font-size: 13px;
    text-align: center;
}

.greybox {
    grid-column: 4 / 13;
    grid-row: 76 / 86;
    background-color: rgb(243, 243, 243);
}

.line1 {
    grid-column: 4 / 13;
    grid-row: 76;
    border-bottom: 1px solid rgb(221, 216, 216);
    margin-right: 20px;
    margin-left: 20px;

}

.line2 {
    grid-column: 4 / 13;
    grid-row: 77;
    border-bottom: 1px solid rgb(221, 216, 216);
    margin-right: 20px;
    margin-left: 20px;

}

.line3 {
    grid-column: 4 / 13;
    grid-row: 78;
    border-bottom: 1px solid rgb(221, 216, 216);
    margin-right: 20px;
    margin-left: 20px;

}

.line4 {
    grid-column: 4 / 13;
    grid-row: 79;
    border-bottom: 1px solid rgb(221, 216, 216);
    margin-right: 20px;
    margin-left: 20px;

}

.line5 {
    grid-column: 4 / 13;
    grid-row: 80;
    border-bottom: 1px solid rgb(221, 216, 216);
    margin-right: 20px;
    margin-left: 20px;

}

.line6 {
    grid-column: 4 / 13;
    grid-row: 81;
    border-bottom: 1px solid rgb(221, 216, 216);
    margin-right: 20px;
    margin-left: 20px;

}

.line7 {
    grid-column: 4 / 13;
    grid-row: 82;
    border-bottom: 1px solid rgb(221, 216, 216);
    margin-right: 20px;
    margin-left: 20px;
}

.line8 {
    grid-column: 4 / 13;
    grid-row: 83;
    border-bottom: 1px solid rgb(221, 216, 216);
    margin-right: 20px;
    margin-left: 20px;
}

.line9 {
    grid-column: 4 / 13;
    grid-row: 84;
    border-bottom: 1px solid rgb(221, 216, 216);
    margin-right: 20px;
    margin-left: 20px;
}

.Feat {
    grid-column: 4 / 5;
    grid-row: 76 / 86;
    color: gray;
}

li {
    list-style-type: none;
    padding-bottom: 19px;
    padding-top: 10px;
}

ol {
    padding-left: 20px;
}

.team {
    grid-column: 11 / 13;
    grid-row: 76;
    padding-top: 20px;
}

.check {
    grid-column: 12 / 13;
    grid-row: 77 / 85;
    padding-top: 20px;
    padding-left: 30px;
}

.linetwo {
    grid-column: 2 / 15;
    grid-row: 87;
    border-top: solid rgb(232, 226, 226) 1px;
}

.built {
    grid-column: 5 / 12;
    grid-row: 88 / 91;
    text-align: center;
}

.engineer {
    grid-column: 2 / 6;
    grid-row: 90 / 94;
    text-align: center;
    border-right: solid rgb(232, 226, 226) 1px;
    padding-right: 20px;
}

.product {
    grid-column: 6 / 11 ;
    grid-row: 90 / 94;
    text-align: center;
    border-right: solid rgb(232, 226, 226) 1px;
    padding-left: 20px;
    padding-right: 20px;
}

.design {
    grid-column: 11 / 15;
    grid-row: 90 / 94;
    text-align: center;
    padding-left: 20px;
}

a {
    color: black;
  
}

a:hover {
    color: rgb(53, 53, 139);
}

.love {
    grid-column: 5 / 12;
    grid-row: 94 / 96;
    text-align: center;
}

.rated {
    grid-column: 2 / 9;
    grid-row: 96 / 99;
}

.leader {
    grid-column: 9 / 14;
    grid-row: 96 / 99;
    
}